<meta charset="UTF-8" />
<title>Simple login app</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<style>
  * {
    box-sizing: border-box;
  }
  .form {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 15px;
  }
</style>
